<div  ng-controller="ParseDemoCtrl">

    <div class="wrapper-md">

    <div class="row">

        <div class="col-md-4" ng-repeat="rest in restaurants">

            <div class="panel b-a">

            <div class="panel-heading no-border bg-black">

                    <span class="text-lt">{{rest.name}}</span>

                </div> 

                <div class="item m-l-n-xxs m-r-n-xxs">

                    <div ng-init="x = 3" class="top text-right padder m-t-xs w-full">

                        <rating ng-model="x" max="5" state-on="'fa fa-star text-white'" state-off="'fa fa-star-o text-white'"></rating>

                    </div>



                    <div class="bottom wrapper bg-gd-dk text-white">

                        <div>{{rest.name}}</div>

                        <div>{{rest.phone}}</div>

                    </div>

                    <img src="{{rest.imageurl}}" class="img-full">

                </div>

                <div class="hbox text-center b-b b-light text-sm">

                    <a ui-sref="app.reserve({restaurantid: rest.id, time: '8:30 PM'})" class="col padder-v text-bg-dk b-r b-light">

                        <span>9:30 PM</span>

                    </a>

                    <a ui-sref="app.reserve({restaurantid: rest.id, time: '9:30 PM'})"  class="col padder-v text-bg-dk b-r b-light">

                        <span>9:30 PM</span>

                    </a>

                    <a ui-sref="app.reserve({restaurantid: rest.id, time: '10:30 PM'})"  class="col padder-v text-bg-dk b-r b-light">

                        <span>10:30 PM</span>

                    </a>

                    <a ui-sref="app.reserve({restaurantid: rest.id, time: '11:00 PM'})"  class="col padder-v text-bg-dk b-light">

                        <span>11:00 PM</span>

                    </a>


                </div>


            </div>

        </div>

    </div>

  </div>

</div>



</div>

